@use "tailwindcss";
@use "fonts";

:root {
  --white: #ffffff;
  --background: #f8f9fa;
  --foreground: #171717;
  --teal: #4fd1c5;
  --gray700: #2d3748;
  --white-shade1: #c4c4c4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white: var(--white);
  --color-teal: var(--teal);
  --color-gray700: var(--gray700);
  --color-white-shade1: var(--white-shade1);

  --font-helvetica: var(--font-helvetica);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica;
}
